{% extends 'base.html' %}

{% load static %}
{% block body %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          
          {% if prodcut_detail.PRDImage %}
              <img src="{{prodcut_detail.PRDImage.url}}" class="img-fluid" alt="">
        {% else %}
             <img src="{% static 'site_static/img/default.png' %}" class="img-fluid" alt="">
        {% endif %}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
                {% if prodcut_detail.PRDDiscountPrice > 0 %}
                    <a href="">
                      <span class="badge green mr-1">SALE</span>
                    </a>
                  {% endif %}
                {% if prodcut_detail.PRDISNew  %}
                  <a href="">
                    <span class="badge blue mr-1">New</span>
                  </a>
                {% endif %}
                {% if prodcut_detail.PRDISBestSeller  %}
                  <a href="">
                    <span class="badge red mr-1">Bestseller</span>
                  </a>
                {% endif %}
            </div>

            <p class="lead font-weight-bold">{{prodcut_detail}}</p>
            <p class="lead">
              {% if prodcut_detail.PRDDiscountPrice > 0 %}
                  <span class="mr-1">
                    <del>${{prodcut_detail.PRDPrice}}</del>
                  </span>
                  <span>${{prodcut_detail.PRDDiscountPrice}}</span>
              {% else %}
                <span>${{prodcut_detail.PRDPrice}}</span>
              {% endif %}

            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{prodcut_detail.PRDDesc}}</p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Accessories</h4>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">
          <h4 class="my-4 h4">Accessories</h4>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">
          <h4 class="my-4 h4">Accessories</h4>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">
          <h4 class="my-4 h4">Accessories</h4>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
  {% endblock body %}
  
